@import 'misc.css';

#welcome {
    display  : flex;

    position : relative;
}

#params {
}

.input_row {
    display  : inline-block;
    width    : 60%;
    height   : 30.0vw;
    position : relative;
    margin   : 10px;
}

.params_label {
    text-align          : center;
    font-family         : "Black Ops One", cursive;
    color               : yellow;
    font-size           : 5.0vw;
    -webkit-text-stroke : 1px magenta;
    text-shadow         : -1px 1px 1px yellow;
}

.params_input {
    position         : absolute;
    bottom           : 20px;
    left             : 0;
    text-align       : center;
    font-family      : "Black Ops One", cursive;
    color: yellow !important;
    background-color : transparent;
    border           : none;
    font-size        : 8.0vw;
    -webkit-text-stroke : 1px magenta;
    outline          : none;
    width            : 97%;
    size             : 3em;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance : none;
    margin             : 0;
}

input[type=number] {
    -moz-appearance : textfield;
}

#error{
    position: absolute;
    bottom: 0;
    display: block;
    clear: both;
    color: red;
    font-family: "Black Ops One", cursive;
    font-size: 4vw;
    width: 100%;
}

#go {
    font-family         : "Black Ops One", cursive;
    position            : fixed;
    bottom              : 0;
    opacity             : 0.8;
    color               : transparent;
    font-size           : 13.0vw;
    -webkit-text-stroke : 1px magenta;
    text-shadow         : -1px 1px 1px yellow;
    cursor: e-resize;
}

#ticker {
    font-size: 1.0vw;
    font-style: italic;
    color: #555555;
    position: fixed;
    bottom: 0;
    min-width: 100%;
}

